@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Finder </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets/css/price_rangs.css">
    <link rel="stylesheet" href="~/Content/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
</head>

<body>
    @{
        int userTypeID = 0;
        if (!string.IsNullOrEmpty(Convert.ToString(Session["UserTypeID"])))
        {
            int.TryParse(Convert.ToString(Session["UserTypeID"]), out userTypeID);
        }
    }
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="@Url.Content("~/Home_63135353/Index")"><img src="~/Content/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="@Url.Content("~/Home_63135353/Index")">Trang Chủ</a></li>
                                            <li><a href="@Url.Content("~/Job_63135353/FilterJob")">Tìm Việc </a></li>
                                            <li><a href="@Url.Content("~/Home_63135353/About")">Giới Thiệu</a></li>
                                            @if (userTypeID == 1)
                                            {
                                                <li>
                                                    <a href="#">Thiết Lập</a>
                                                    <ul class="submenu">
                                                        <li><a href="@Url.Content("~/JobCategoryTables_63135353/Index")">Danh Mục Công Việc</a></li>
                                                        <li><a href="@Url.Content("~/JobNatureTables_63135353/Index")">Tính Chất Công Việc</a></li>
                                                    </ul>
                                                </li>

                                                <li><a href="@Url.Content("~/User_63135353/AllUsers")">DS TK</a></li>
                                            }

                                            @if (userTypeID == 2 || userTypeID == 1)
                                            {
                                                <li>
                                                    <a href="#">Tuyển Dụng</a>
                                                    <ul class="submenu">
                                                        @if (userTypeID == 2)
                                                        {
                                                            <li><a href="@Url.Content("~/Job_63135353/PostJob")">Đăng Tin Tuyển Dụng</a></li>
                                                            <li><a href="@Url.Content("~/Job_63135353/CompanyJobList")">DS Bài Tuyển Dụng</a></li>
                                                        }
                                                        else if (userTypeID == 1)
                                                        {
                                                            <li>
                                                                <a href="@Url.Content("~/Job_63135353/AllCompanyPendingJobs")">Chờ Duyệt</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    @if (userTypeID == 0)
                                    {
                                        <a href="@Url.Content("~/User_63135353/NewUser")" class="btn head-btn1">Đăng Ký</a>
                                        <a href="@Url.Content("~/User_63135353/Login")" class="btn head-btn2">Đăng Nhập</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Content("~/User_63135353/Logout")" class="btn head-btn1">Đăng Xuất</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="@Url.Content("~/Content/assets/img/hero/h1_hero.jpg")">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Khám phá công việc khởi nghiệp đầy hứng khởi nhất</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>CÁC GÓI VIỆC LÀM Nổi bật</span>
                            <h2>Những Danh mục nổi bật </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Design & Creative</a></h5>
                                <span>(653)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Design & Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Sales & Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-high-tech"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Information Technology</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Real Estate</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Content Writer</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href=@Url.Content("~/Job_63135353/FilterJob") class="border-btn2">Duyệt tất cả các ngành</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Online CV Area Start -->
        <div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="@Url.Content("~/Content/assets/img/gallery/cv_bg.jpg")">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <p class="pera1">CÁC VIỆC LÀM Nổi bật</p>
                            <p class="pera2"> Tạo Sự Khác Biệt với Hồ sơ Trực tuyến của Bạn!</p>
                            <a href="@Url.Content("~/User_63135353/Login")" class="border-btn2 border-btn4">Tải lên hồ sơ của bạn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online CV Area End-->
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150" data-background="@Url.Content("~/Content/assets/img/gallery/how-applybg.png")">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle white-text text-center">
                            <span style="color:white">Quy trình nộp đơn</span>
                            <h2> Cách thức hoạt động</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                                <h5>1. Tìm kiếm công việc</h5>
                                <p>Tìm kiếm và lựa chọn công việc phù hợp, đáp ứng yêu cầu của bạn.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                                <h5>2. Nộp đơn ứng tuyển</h5>
                                <p>Điền đầy đủ thông tin và nộp đơn ứng tuyển cho công việc mong muốn.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                                <h5>3. Nhận công việc của bạn</h5>
                                <p>Nhận thông báo và bắt đầu công việc mới của bạn sau khi được chọn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="~/Content/assets/img/testmonial/testimonial-founder.png" alt="">
                                            <span>Margaret Lawson</span>
                                            <p>Creative Director</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="~/Content/assets/img/testmonial/testimonial-founder.png" alt="">
                                            <span>Margaret Lawson</span>
                                            <p>Creative Director</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                            <img src="~/Content/assets/img/testmonial/testimonial-founder.png" alt="">
                                            <span>Margaret Lawson</span>
                                            <p>Creative Director</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Support Company Start-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>Điều mà chúng tôi đang làm</span>
                                <h2>24k Người tài năng đang có việc làm</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Chúng tôi cam kết đem đến chất lượng cao với sự đam mê và nỗ lực không ngừng, mang lại trải nghiệm tuyệt vời cho khách hàng.</p>
                                <p>Chúng tôi làm việc với lòng hứng thú và tận tâm. Sự sáng tạo và đổi mới là chìa khóa để chúng tôi đạt được mục tiêu và mang lại giá trị cho cộng đồng.</p>
                                <a href="#" class="btn post-btn">Đăng tin tuyển dụng</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="~/Content/assets/img/service/support-img.jpg" alt="">
                            <div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        <!-- Blog Area Start -->
        <div class="home-blog-area blog-h-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Bài viết mới nhất của chúng tôi</span>
                            <h2>Tin tức gần đây của chúng tôi</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="~/Content/assets/img/blog/home-blog1.jpg" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>02</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <p>|   Bất động sản</p>
                                    <h3><a href="single-blog.html">Footprints in Time là ngôi nhà hoàn hảo tại Kurashiki</a></h3>
                                    <a href="#" class="more-btn">Xem thêm »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="~/Content/assets/img/blog/home-blog2.jpg" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>02</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <p>|   Properties</p>
                                    <h3><a href="single-blog.html">Footprints in Time là ngôi nhà hoàn hảo tại Kurashiki</a></h3>
                                    <a href="#" class="more-btn">Xem thêm »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->
    </main>
    <footer>
        <!-- Bắt đầu phần chân trang -->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Về chúng tôi</h4>
                                    <div class="footer-pera">
                                        <p>Chúng tôi là nền tảng Kết Nối Sự Nghiệp, mang đến cơ hội và giải pháp cho sự phát triển sự nghiệp của bạn. Với cam kết xây dựng Tương Lai, chúng tôi hỗ trợ bạn khám phá và ứng tuyển vào những công việc mơ ước, từng bước một.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Thông tin liên hệ</h4>
                                <ul>
                                    <li>
                                        TP Nha Trang, Khánh Hòa, Việt Nam
                                    </li>
                                    <li><a href="#">Điện thoại: +84 773 753 848</a></li>
                                    <li><a href="#">Email: tai.gv.63cntt@ntu.edu.vn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Liên kết quan trọng</h4>
                                <ul>
                                    <li><a href="@Url.Content("~/Job_63135353/FilterJob")">Xem Dự án</a></li>
                                    <li><a href="#">Liên hệ chúng tôi</a></li>
                                    <li><a href="#">Phản hồi</a></li>
                                    <li><a href="#">Bất động sản</a></li>
                                    <li><a href="#">Hỗ trợ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Thông báo</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>Mang đến những thông báo quan trọng và cập nhật mới nhất từ cộng đồng sự nghiệp. Chúng tôi tin rằng, như những mùa xuân bé nhỏ, những cơ hội mới sẽ xuất hiện từ từ, tươi tắn như thiên đàng.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Địa chỉ Email"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Địa chỉ Email '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/Content/assets/img/icon/form.png" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </footer>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Giáp Văn Tài</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <div class="footer-social f-right">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
</body>
</html>